//colors
$d_f_gray: #474747;
$l_f_gray: #a5a5a5;
$ll_f_gray: #9a9a9a;
$layout_gray: #e2e2e2;
$white: #fff;
//fonts
$pacif: 'pacificoregular';
$bebas: 'bebasregular';
$ptsreg: 'pt_sansregular';
$ptsit: 'pt_sansitalic';
//word-spacing
$two: 2px;